<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add movie</title>
</head>
<body>
    <form action="/api/v1/movies" method="POST" enctype="multipart/form-data">
        {{form.csrf_token}}
        {{form.title.label}}
        {{form.title}}
        {{form.description.label}}
        {{form.description}}
        {{form.poster.label}}
        {{form.poster}}
        {{form.submit}}
        
    </form>
</body>
</html>